psycopg2  # PostgreSQL
pymysql  # MySQL
sqlalchemy  # ORM for various databases

gunicorn  
flask  # Flask web framework
flask_sqlalchemy  # Flask extension for SQLAlchemy
flask_migrate  # Flask extension for Alembic

numpy
pandas
matplotlib
seaborn
nltk
spacy
transformers
scikit-learn
groq
python-dotenv
